.hero__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 90px;
    font-size: 13px;
    // border:1px solid white;
    
}
.header {
    flex: 0;
}
// .header__center {border: 2px solid red;}
