.nav {font-family: Ubuntu, sans-serif;}
.nav__list {
    display: flex;
    list-style: none;
}
.nav__item {
    position: relative;
.nav__link {
    @include cool-link;
    &:after {
        content:'';
        display: inline-block;
        width: 2px;
        height: 2px;
        border: 1px solid white;
        border-radius: 50%;
        background-color: white;
        margin: 0 15px;
        transform: translate(-50%, -50%)
    }
}
&:last-child .nav__link:after {display: none;}
}